@value scrolling-zindex, nav-height from 'constants/constants.css';

.SectionScroller{

}

.sticky{
  position: fixed;
  position: sticky;
  margin-right: 15px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.content{
  position: relative;
  z-index: 1;
}
