@value footer-height: 100px;

.PageLayout{
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
}

.PageLayout__hasFooter{
  composes: PageLayout;
  padding-bottom: footer-height;
}

.contents{
}

.footer{
  height: footer-height;
}
