@value bg-gradient-1, bg-gradient-2, bg-gradient-3 from "../theme/Colors.css";

.Card{
 position: relative;
}

.Card::before{
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
  content: '';
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  box-shadow: -2px 1px 1px black;
}

.Card-1{
  composes: Card;
}

.Card-1::before{
  background: bg-gradient-1;
}

.Card-2{
  composes: Card;
}

.Card-2::before{
  background: bg-gradient-2;
}

.Card-3{
  composes: Card;
}

.Card-3::before{
  background: bg-gradient-3;
}

.contents{
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
