@value foreground-path: 'assets/img/Logo.png';
@value background-path: 'assets/img/LogoShadow.png';

@value image-width: width(foreground-path);
@value image-height: height(foreground-path);

@value ratio: calc(strip(image-width) / strip(image-height));
@value logo-width: 100%;
@value logo-height: calc(logo-width / ratio);


.Logo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.components{
  position: relative;
  overflow: visible;
  width: logo-width;
  padding-bottom: logo-height;
}

.foreground{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  background: url(foreground-path) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.background{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url(background-path) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
